#menualt {
    display: none;
}

@media (max-width: 600px) {

    #menualt {
        display: block;
    }

    .btn {
        display: none;
    }
}

.navbar-brand {
    margin: 0;
}

.navbar-nav > .nav-item > .nav-link {
    color: #000;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.btn {
    border: none;
    margin-left: -13px;
    font-size: 18px;
}

.btn-close:focus {
    outline: none;
    box-shadow: none;
}

.btn-close {
    border: none;
}

.offcanvas {
    height: 800px;
}

.concepto {
    display: block;
    position: relative;
    cursor: pointer;
    width: fit-content;
}

.concepto::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.concepto:hover::after {
    transform: scaleX(1);
}